:root{
  /* Text Colours */
  --main-text-color: #dfdfdf;
  --accent-text-color: #FBABFF;
  --description-text-color: #c2b4c0;

  /* Background Colours */
  --primary-bg-color: #0F172A;
  --accent-bg-color: #123028;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Kanken Grotesk', sans-serif;
}

body {
  position: relative;
  background-color: var(--primary-bg-color);
  background-image: 
    linear-gradient(var(--accent-bg-color) 1px, transparent 1px),
    linear-gradient(90deg, var(--accent-bg-color) 1px, transparent 1px);
  background-size: 50px 50px;
}

