:root{
 /* Language Colours */
  --primary-lg-color: #121213;
  --hover-lg-color: #fbabff9a;

  /* Text Colours */
  --main-text-color: #dfdfdf;
  --accent-text-color: #FBABFF;
  --description-text-color: #c2b4c0;

  /* Background Colours */
  --primary-bg-color: #131314;
  --grid-bg-color: #22242462;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Kanken Grotesk', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--hover-lg-color) transparent;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  }

body {
  position: relative;
}

/* Language Header Section */

#languages{
  text-align: center;
  margin: 0 0 5rem;
}

#languages p{
  color: var(--accent-text-color);
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-family: 'JetBrains Mono', 'Courier New', monospace;
}

#languages h2{
  color: var(--main-text-color);
  font-size: 36px;
  margin-bottom: 5px;
  font-weight: 800;
}

/* Language Section */

.language{
  display: flex;
  justify-content: center;
}

.languageContent {
  background-color: var(--primary-lg-color);
  border: 1px solid var(--grid-bg-color);
  margin: 20px 50px;
  height: 115px;
  border-radius: 10px;
  overflow: hidden; /* Important */
  position: relative;
  align-items: center;
  display: flex;
  width: 60%;
  margin-bottom: 5rem;
}

.scroll-wrapper {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.scroll-content {
  display: flex;
}

.lang-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 45px;
}

.lang-item img {
  height: 70px;
  margin-bottom: 10px;
}

.lang-item span {
  color: var(--main-text-color);
  font-size: 14px;
  letter-spacing: 1px;
}

/* Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}
